body {
    margin: 0px;
}

#root {
    display: flex;
    justify-content: center;
}

.app-headers {
    display: flex;
    justify-content: space-around;
}

.app-container {
    display: flex;
    margin-top: 35px;
}

.app-container>div {
    min-width: 40vw;
    border: 1px solid black;
}
